header {
  height: 70px;
  margin-bottom: 10px;
}

header h1 {
  color: white;
  padding-top: 8px;
}

.span-inline {
  display: inline-block;
  margin: 5px;
}

.uvIndex {
  color: white;
  background-color: red;
  width: 50px;
  border-radius: 3px;
  padding-left: 8px;
}
